*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
}


#head{
    height: 200px;
    width:100%;
   
    
}

#our{
    margin-left: 30px;
    margin-top: 170px;
    font-size: 50px;
    font-weight: bold;
    color: white;

}

#green{
    margin-left: 30px;
    margin-top: 20px;
    font-size: 70px;
    font-weight: bolder;
    color: white;

}

#mission{
    color:#063E00;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100px;
    width: 100%;
    background-color: whitesmoke;
    margin-top: 130px;
}


#box1{
    height:300px;
    width: 300px;
    background-color: #063E00;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    margin-top: 80px;
    margin-left: 200px;
}

#box2{
    height:300px;
    width: 300px;
    background-color: #063E00;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    margin-top: 20px;
    margin-left: 800px;
}

#box3{
    height:300px;
    width: 300px;
    background-color: #063E00;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    margin-top:20px;
    margin-left: 200px;
}