

*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
}


#head{
    background-image: url(/buysection/images/Untitled\ design\ \(3\).jpg);
    background-repeat: no-repeat;
    
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    width: 1265px;
    
}
#navbar{
    margin-left: 140px;
    height:50px;
    width: 1000px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    background-color: #063E00;

    display: flex;
    align-items: center;
    justify-content:left;

}

#lu{
    margin-top: 80px;
    margin-left: 40px;
    font-size: 100px;
}

#bu{
    margin-left: 40px;
    margin-top: 20px;
    font-size: 80px;
}


#type{
    margin-left: 230px;
    margin-top: 120px;
    height:70px;
    width: 800px;
    background-color:#a89905;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a{
    font-size: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.txt{
    font-size: 22px;
    font-weight: bold;
}


#logo{
    margin-left: 20px;
    height:40px;
    width: 80px;
    background-color: black;
    color: white;
    background-image: url(/home/Image\ 2025-04-09\ at\ 2.00.32\ AM.jpeg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
    
}


#about{
    margin-left: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height:40px;
    width: 80px;
    font-weight: 550;
    color: white;

}

#about:hover{
    
    cursor: pointer;
    background-color: #a89905;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}


#plantnow{
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height:40px;
    width: 80px;
    font-weight: 550;
    color: white;
}


#plantnow:hover{
    cursor: pointer;
    background-color: #a89905;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}

#gallery{
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height:40px;
    width: 80px;
    font-weight: 550;
    color: white;
    
}

#gallery:hover{
    cursor: pointer;
    background-color: #a89905;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}



#netra{
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height:40px;
    width: 80px;
    font-weight: 550;
    color: white;
}

#netra:hover{
    cursor: pointer;
    background-color: #a89905;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}



#join{
    margin-left: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height:40px;
    width: 80px;
    font-weight: 550;
    color: white;
    background-color: #a89905;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}

#join:hover{
    cursor: pointer;
    background-color: #a89905;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}














main{
    height:500px;
    width: 1240px;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
}






.box1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 80px;
    width:100%;
    height:450px;
}

#calculator1{
    height:100%;
    width:370px;
    background-color: white;
}

#calculator1:hover{
    box-shadow: 0px 0px 2px 2px black;
    cursor: pointer;
}


#image1{
    margin-left: 24px;
    margin-top: 10px;
    height:350px;
    width: 320px;
    background-image: url(images/image1.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#txt1{
    margin-top:10px;
    margin-left:20px;
    width: 320px;
    font-size: larger;
    font-weight: bold;
}

#calculator2{
    height:100%;
    width:370px;
    background-color: white;
}

#calculator2:hover{
    box-shadow: 0px 0px 2px 2px black;
    cursor: pointer;
}

#image2{
    margin-left: 24px;
    margin-top: 10px;
    height:350px;
    width: 320px;
    background-image: url(images/image1.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#txt2{
    margin-top:10px;
    margin-left:20px;
    width: 320px;
    font-size: larger;
    font-weight: bold;
}

#quiz{
    height:100%;
    width:370px;
    background-color: white;
}

#quiz:hover{
    box-shadow: 0px 0px 2px 2px black;
    cursor: pointer;
}


#image3{
    margin-left: 24px;
    margin-top: 10px;
    height:350px;
    width: 320px;
    background-image: url(images/image\ 2.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#txt3{
    margin-top:10px;
    margin-left:20px;
    width: 320px;
    font-size: larger;
    font-weight: bold;
}




.box2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 80px;
    width:100%;
    height:450px;
}

#analyzer{
    height:100%;
    width:370px;
    background-color: white;
}

#analyzer:hover{
    box-shadow: 0px 0px 2px 2px black;
    cursor: pointer;
}


#image4{
    margin-left: 24px;
    margin-top: 10px;
    height:350px;
    width: 320px;
    background-image: url(images/image\ 2.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#txt4{
    margin-top:10px;
    margin-left:20px;
    
    width: 320px;
    font-size: larger;
    font-weight: bold;

}




#by{
    height:100%;
    width:370px;
    background-color: white;
}

#by:hover{
    box-shadow: 0px 0px 2px 2px black;
    cursor: pointer;
}


#image5{
    margin-left: 24px;
    margin-top: 10px;
    height:350px;
    width: 320px;
    background-image: url(images/image1.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#txt5{
    margin-top:10px;
    margin-left:20px;
    width: 320px;
    font-size: larger;
    font-weight: bold;
}


.txt5_1{
    margin-top:10px;
    margin-left:20px;
    height:100px;
    width: 320px;
    font-size: larger;
    font-weight: bold;
}




#sel{
    height:100%;
    width:370px;
    background-color: white;
}

#sel:hover{
    box-shadow: 0px 0px 2px 2px black;
    cursor: pointer;
}


#image6{
    margin-left: 24px;
    margin-top: 10px;
    height:350px;
    width: 320px;
    background-image: url(images/image\ 3.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#txt6{
    margin-top:10px;
    margin-left:20px;
    width: 320px;
    font-size: larger;
    font-weight: bold;
}

.take{
    display: flex;
    align-items:center;
    justify-content: center;
}

.shop{
    height:35px;
    width: 170px;
    border-radius: 40px;
    background-color: rgb(3, 91, 26);
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    font-weight: lighter;
    margin-bottom:60px;
    margin-right: 30px;
}